player-connection-mode=Listen
player-connection-guid=3484852705
player-connection-debug=0
player-connection-project-name=Flappy Bird
player-connection-ip=192.168.0.127
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d6174add22e84f62a60ba750d8e56dd8
